<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>We need to access the camera to take photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You need the album permission to select pictures</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>We need to access your file</string>
</dict>
</plist>
